In [86]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

df = pd.read_csv('iraq_sigacts.csv')

In [87]:
print(df.describe())

            Detained      Enemy_KIA     Friend_KIA   Civilian_KIA
count  391832.000000  391832.000000  391832.000000  391832.000000  \
mean        0.469566       0.061210       0.009624       0.168646
std         2.999117       0.982177       0.162907       1.614209
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max       560.000000     262.000000      31.000000     436.000000

       Host_nation_KIA      Enemy_WIA     Friend_WIA   Civilian_WIA
count    391832.000000  391832.000000  391832.000000  391832.000000  \
mean          0.038782       0.016573       0.080185       0.253075
std           0.382364       0.515933       0.641970       3.254610
min           0.000000       0.000000       0.000000       0.000000
25%           0.000000       0.000000       0.000000       0.000000
50%           0.000000       0.000000       0.000000       0.000000
75%           0.000000       0.000000       0.000000       0.000000
max          48.000000     194.000000     118.000000     641.000000

       Host_nation_WIA
count    391832.000000
mean          0.100313
std           0.818570
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          97.000000

In [88]:
df.head()

,Region,Datetime,Type,Category,Affiliation,Detained,Enemy_KIA,Friend_KIA,Civilian_KIA,Host_nation_KIA,Enemy_WIA,Friend_WIA,Civilian_WIA,Host_nation_WIA,Complex_attack,Type_of_unit,MGRS
0,MNF-W,2004-01-01 06:06,Explosive Hazard,IED Explosion,ENEMY,0,0,0,0,0,0,0,0,0,FALSE,None Selected,38SLC40
1,MNF-W,2004-01-01 14:02,Friendly Action,Confiscation,FRIEND,2,0,0,0,0,0,0,0,0,FALSE,None Selected,38SLC40
2,MND-N,2004-01-01 07:07,Enemy Action,Indirect Fire,ENEMY,0,0,0,0,0,0,0,0,0,FALSE,None Selected,38SME11
3,MND-N,2004-01-01 12:12,Criminal Event,Murder,ENEMY,0,0,0,1,0,0,0,0,0,FALSE,None Selected,38SLF32
4,MNF-W,2004-01-01 12:12,Explosive Hazard,IED Found/Cleared,ENEMY,0,0,0,0,0,0,0,0,0,FALSE,None Selected,38SLB98

In [89]:
df["Region"].unique()

array(['MNF-W ', 'MND-N ', ' ', 'MND-C ', 'MND-SE ', 'MND-BAGHDAD ',
       'MND-NE ', 'MND-S ', 'NONE SELECTED '], dtype=object)

In [90]:
count = df['Region'].value_counts()

count

#wir sehen, dass S und NE als eigene Regionen keinen Sinn machen und inklduieren sie in SE und N

Region
MND-N             134266
MND-BAGHDAD       109803
MNF-W              75153
MND-C              45193
MND-SE             22516
MND-S               3460
                    1077
MND-NE               347
NONE SELECTED         17
Name: count, dtype: int64

In [91]:
count = df["Region"].value_counts()
count

Region
MND-N             134266
MND-BAGHDAD       109803
MNF-W              75153
MND-C              45193
MND-SE             22516
MND-S               3460
                    1077
MND-NE               347
NONE SELECTED         17
Name: count, dtype: int64

In [92]:
# Replace 'MND-S' with 'MND-SE'
df["Region"] = df["Region"].replace('MND-S ', 'MND-SE ')
df["Region"] = df["Region"].replace('MND-NE ', 'MND-N ')

In [93]:
df['Region'].replace('NONE SELECTED ', np.nan, inplace=True)

In [94]:
df['Region'].replace(' ', np.nan, inplace=True)

In [95]:
df.dropna(subset=['Region'], inplace=True)

In [96]:
count = df["Region"].value_counts()
count

Region
MND-N           134613
MND-BAGHDAD     109803
MNF-W            75153
MND-C            45193
MND-SE           25976
Name: count, dtype: int64

In [83]:

# Write DataFrame to csv
df.to_csv('iraq.csv', index=False)

In [99]:
df.dtypes

Region             object
Datetime           object
Type               object
Category           object
Affiliation        object
Detained            int64
Enemy_KIA           int64
Friend_KIA          int64
Civilian_KIA        int64
Host_nation_KIA     int64
Enemy_WIA           int64
Friend_WIA          int64
Civilian_WIA        int64
Host_nation_WIA     int64
Complex_attack     object
Type_of_unit       object
MGRS               object
dtype: object

In [100]:
df["Region"] = df["Region"].str.strip()
df["Datetime"] = df["Datetime"].str.strip()
df["Type"] = df["Type"].str.strip()
df["Category"] = df["Category"].str.strip()
df["Affiliation"] = df["Affiliation"].str.strip()
df["Complex_attack"] = df["Complex_attack"].str.strip()

In [101]:
df

,Region,Datetime,Type,Category,Affiliation,Detained,Enemy_KIA,Friend_KIA,Civilian_KIA,Host_nation_KIA,Enemy_WIA,Friend_WIA,Civilian_WIA,Host_nation_WIA,Complex_attack,Type_of_unit,MGRS
0,MNF-W,2004-01-01 06:06,Explosive Hazard,IED Explosion,ENEMY,0,0,0,0,0,0,0,0,0,FALSE,None Selected,38SLC40
1,MNF-W,2004-01-01 14:02,Friendly Action,Confiscation,FRIEND,2,0,0,0,0,0,0,0,0,FALSE,None Selected,38SLC40
2,MND-N,2004-01-01 07:07,Enemy Action,Indirect Fire,ENEMY,0,0,0,0,0,0,0,0,0,FALSE,None Selected,38SME11
3,MND-N,2004-01-01 12:12,Criminal Event,Murder,ENEMY,0,0,0,1,0,0,0,0,0,FALSE,None Selected,38SLF32
4,MNF-W,2004-01-01 12:12,Explosive Hazard,IED Found/Cleared,ENEMY,0,0,0,0,0,0,0,0,0,FALSE,None Selected,38SLB98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391827,MND-N,2009-12-31 21:09,Explosive Hazard,IED Explosion,ENEMY,0,0,0,0,0,0,0,0,0,,ISF,38SLE47
391828,MND-BAGHDAD,2009-12-31 22:10,Explosive Hazard,IED Found/Cleared,ENEMY,0,0,0,0,0,0,0,0,0,,ISF,38SMB4983
391829,MND-SE,2009-12-31 22:10,Non-Combat Event,Accident,NEUTRAL,0,0,0,3,0,0,0,0,0,,CF,38SMB52
391830,MND-BAGHDAD,2009-12-31 22:10,Explosive Hazard,Unexploded Ordnance,ENEMY,0,0,0,0,0,0,0,0,0,,CF,38SMB3588
391831,MND-SE,2009-12-31 18:06,Enemy Action,Indirect Fire,ENEMY,0,0,0,0,0,0,1,0,0,,CF,38SMB42

In [41]:
df = df.set_index('Region')
bestdf = bestdf.set_index('Region')
df.update(bestdf)
df.reset_index(inplace=True)

ValueError: cannot reindex on an axis with duplicate labels

In [ ]:
import plotly.express as px
import pandas as pd
import json

# Load GeoJSON file
with open("iraq.json") as f:
    iraq_geojson = json.load(f)

In [ ]:
import pandas as pd
from pandas import json_normalize

# Assuming json_data is already loaded

# Convert JSON data to DataFrame
json_df = json_normalize(iraq_geojson['objects']['IRQ_adm1']['geometries'])

In [ ]:
json_df

In [ ]:


# Rename columns for a consistent mapping
json_df.rename(columns={'properties.NAME_1': 'Region', 'properties.ID_1': 'Region_ID'}, inplace=True)

In [ ]:
json_df

In [ ]:
import plotly.express as px
import pandas as pd
import json

# Load GeoJSON file
with open("iraq.json") as f:
    iraq_geojson = json.load(f)

# Function to extract coordinates from GeoJSON
def extract_coordinates(geojson):
    coordinates = []

    def extract_polygon_coords(polygon):
        for coord in polygon:
            coordinates.append(coord)
        return coordinates

    for feature in geojson['features']:
        geometry = feature['geometry']
        if geometry['type'] == 'Polygon':
            extract_polygon_coords(geometry['coordinates'][0])
        elif geometry['type'] == 'MultiPolygon':
            for polygon in geometry['coordinates']:
                extract_polygon_coords(polygon[0])
    return coordinates

# Extract coordinates
iraq_coordinates = extract_coordinates(iraq_geojson)
print(iraq_coordinates)

In [ ]:
import plotly.graph_objects as go
import geopandas as gpd
from shapely.geometry import Polygon